@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-left,
.main-right {
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}
/* a:hover {
  color: rgb(225, 193, 240);
  transition: 0.3s all ease-in;
} */

ul li {
  list-style: none;
}

header {
  height: 300px;
}

h1 {
  letter-spacing: 1rem;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
}

/* CLASSES */

.main-left,
.main-right {
  height: 100vh;
}

.logo {
  font-family: "Shizuru", cursive;
  font-weight: bold;
  font-size: 55px;
}
